---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Lucía Developer">
	<div class="">
		<div class="w-full mt-[25%] md:mt-[20%] flex justify-center items-center">
			<h1 class="font-extrabold Nunito text-sky-500 text-5xl md:text-7xl xl:text-9xl">Under work!</h1>
		</div>
		<div class="flex justify-center items-center">
			<img src="/cat.gif" alt="gato" class="w-auto h-48 rounded-lg">
		</div>

	</div>
</Layout>

