<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/icon.png" />
    <title>CV de Lucía</title>
  </head>
  <body>
    <iframe class="h-screen w-screen" src="/resumes/cv-es.pdf"></iframe></body
  >
</html>
