---
import { getI18N } from "../i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<div class="hero mt-20 md:mt-[150px] mb-32">
  <div
    class="gap-4 xl:w-[1200px] p-4 items-center lg:flex border-2 border-secondary rounded-lg m-8 pb-12 px-8"
  >
    <img
      alt="An ilustration of Lucia"
      src="/girl.webp"
      class="w-[16rem] mx-auto lg:mx-0 xl:w-[24rem] rounded-lg"
      loading="lazy"
    />
    <div class="md:max-w-lg lg:max-w-2xl text-xl">
      <div class="mt-4">
        <h1
          class="text-3xl text-center lg:text-start font-[Mini] md:text-5xl xl:text-6xl font-bold mb-8"
        >
          {
            currentLocale === "es" ? (
              <span>
                Sobre m<span class="font-[Potato]">í</span>
              </span>
            ) : currentLocale === "ca" ? (
              <span>
                Sobre m<span class="font-[Potato]">i</span>
              </span>
            ) : (
              i18n.ABOUT_ME.TITLE
            )
          }
        </h1>
      </div>
      {
        currentLocale === "es" ? (
          <>
            <p class="md:text-2xl mb-4 aboutme">
              <span>Desarrolladora Junior</span>, con muchas ganas de aprender
              más cada día y decidida a lograr algo grandioso en el futuro como{" "}
              <span>Desarrolladora Web</span>.
            </p>
            <p class="md:text-2xl aboutme">
              Hace poco terminé el primer año del{" "}
              <span>Ciclo Formativo de Grado Medio SMR</span> y actualmente voy
              por el segundo año disfrutando mucho de la experiencia de aprender
              y crecer.
            </p>
          </>
        ) : currentLocale === "ca" ? (
          <>
            <p class="md:text-2xl mb-4 aboutme">
              <span>Desenvolupadora Junior</span>, amb moltes ganes d'aprendre
              més cada dia i decidida a aconseguir alguna cosa gran en el futur
              com a <span>Desenvolupadora Web</span>.
            </p>
            <p class="md:text-2xl aboutme">
              Fa poc vaig acabar el primer any del{" "}
              <span>Cicle Formatiu de Grau Mitjà SMX</span> i actualment estic
              en el segon any gaudint molt de l'experiència d'aprendre i
              créixer.
            </p>
          </>
        ) : (
          <>
            <p class="md:text-2xl aboutme mb-4">
              <span>Junior Developer</span>, eager to learn more every day and
              determined to achieve something great in the future as a{" "}
              <span>Web Developer</span>.
            </p>
            <p class="md:text-2xl aboutme">
              I recently finished the first year of the{" "}
              <span>Intermediate VET MSN</span> and I am currently in the second
              year enjoying the experience of learning and growing.
            </p>
          </>
        )
      }
    </div>
  </div>
</div>
